#chessboard {
    border: 1px solid black;
    border-collapse: collapse;
}

#chessboard td:hover {
    background-color: aquamarine;
}
.blackcell {
    background-color: black;
}
.col {
    font-size: 20px;
    height: 40px;
    width: 80px;
}

.columnborder {
    background-color: rgba(77, 28, 28, 0.91);
}

img {
    display: block;
    margin: 0 auto;
    width: 80%;
}

.row {
    font-size: 20px;
    background-color: rgba(77, 28, 28, 0.91);
    height: 80px;
    text-align: center;
    width: 40px;
}