#divMain{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#chessboarddiv {
    float: left;
    margin-bottom: 1.5%;
    margin-top: 1.5%;
    height: 100%;
    width: 49.5%;
}

#chessboard {
    border: 2px solid black;
    border-collapse: collapse;
}

.cell:hover {
    border-collapse: collapse;
    border-style: solid;
    border-color: aquamarine;
}

.cell {
    border-width: 3px;
}

.col {
    font-size: 20px;
    height: 40px;
    width: 80px;
}

.columnborder {
    background-color: rgba(77, 28, 28, 0.91);
}

img {
    display: block;
    margin: 0 auto;
    width: 70%;
}

.row {
    font-size: 20px;
    background-color: rgba(77, 28, 28, 0.91);
    height: 80px;
    text-align: center;
    width: 40px;
}

@media only screen and (max-width: 1300px) {
    #playerBdiv {
        width: 0;
    }
    #chessboarddiv {
        width: 73%;
    }
    #playerRdiv {
        width: 23%;
    }
}

@media only screen and (max-width: 1000px) {
    #chessboarddiv {
        width: 96%;
    }
    #playerRdiv {
        width: 0;
    }
}