body {
    background-image: url("../Pic/background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

div {
    padding-top: 13%;
}

@-webkit-keyframes my {
    0% { color: #F8CD0A; }
    50% { color: #fff;  }
    100% { color: #F8CD0A;  }
}
@-moz-keyframes my {
    0% { color: #F8CD0A;  }
    50% { color: #fff;  }
    100% { color: #F8CD0A;  }
}
@-o-keyframes my {
    0% { color: #F8CD0A; }
    50% { color: #fff; }
    100% { color: #F8CD0A;  }
}
@keyframes my {
    0% { color: #F8CD0A;  }
    50% { color: #fff;  }
    100% { color: #F8CD0A;  }
}
#play {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    font-size:40px;
    font-weight:bold;
    -webkit-animation: my 700ms infinite;
    -moz-animation: my 700ms infinite;
    -o-animation: my 700ms infinite;
    animation: my 700ms infinite;
}
#info {
    text-align: center;
    margin-top: 20%;
    color: white;
    font-size: 20px;
    font-family: 'Lobster', cursive;
}
#from {
    text-align: center;
    color: white;
    font-size: 15px;
    font-family: 'Lobster', cursive;
}