body {
    background-image: url("../Pic/background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    padding: 22%;
}

@-webkit-keyframes my {
    0% { color: #F8CD0A; }
    50% { color: #fff;  }
    100% { color: #F8CD0A;  }
}
@-moz-keyframes my {
    0% { color: #F8CD0A;  }
    50% { color: #fff;  }
    100% { color: #F8CD0A;  }
}
@-o-keyframes my {
    0% { color: #F8CD0A; }
    50% { color: #fff; }
    100% { color: #F8CD0A;  }
}
@keyframes my {
    0% { color: #F8CD0A;  }
    50% { color: #fff;  }
    100% { color: #F8CD0A;  }
}
.play {
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    font-size:24px;
    font-weight:bold;
    -webkit-animation: my 700ms infinite;
    -moz-animation: my 700ms infinite;
    -o-animation: my 700ms infinite;
    animation: my 700ms infinite;
}
