/*Người chơi đỏ*/
#playerRdiv {
    background-color: rgba(255, 0, 0, 0.71);
    border-radius: 5%;
    float: left;
    height: 97%;
    width: 23.25%;
    margin: 1%;
}

#imgRdiv {
    border: 2px solid;
    border-radius: 50%;
    background-color: white;
    height: 70%;
    width: 50%;
    margin: 0 25%;
}

/*Người chơi đen*/
#playerBdiv {
    background-color: rgba(0, 0, 0, 0.64);
    border-radius: 5%;
    float: left;
    height: 97%;
    width: 23.25%;
    margin: 1%;
}

#imgBdiv {
    border: 2px solid;
    border-radius: 50%;
    background-color: rgb(255, 80, 80);
    height: 70%;
    width: 50%;
    margin: 0 25%;
}

/* Chung*/
.imgP {
    width: 70%;
    height: 70%;
    margin-top: 10%;
}

#nameRPlayer {
    color: white;
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
    text-align: center;
}

#nameBPlayer {
    color: rgb(255, 80, 80);
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
    text-align: center;
}

.playerAvt {
    border-bottom: 5px solid;
    float: top;
    height: 28%;
    width: 90%;
    margin: 5%;
}

#blackChessDeaddiv {
    border: 2px solid;
    border-radius: 5%;
    margin: 5%;
    height: 60%;
    padding: 5%;
}

#redChessDeaddiv {
    border: 2px solid;
    border-radius: 5%;
    margin: 5%;
    height: 60%;
    padding: 5%;
}